@font-face {
  font-display: swap;
  font-family: "Link Sans";
  font-weight: 200 400 800 900;
  src: url(https://website.linktr.ee/static/LinkSans-LinkSansVF-5ba82435cfe1454f76404182afdbf4fc.woff2) format("woff2-variations");
}

:root {
  --color-opacity: 1;
  --pear-color: rgba(210, 232, 35, 1);
  --pear-hover-color:rgba(200, 223, 17, 1);
  --seaweed-color: rgba(37, 79, 26, 1);
  --melanie-color: rgba(233, 192, 233, 1);
  --melanie-hover-color: rgb(223, 162, 223);
  --venetian-red-color: rgba(120, 0, 22, 1);
  --honey-flower-color: rgba(80, 34, 116, 1);
  --honey-hover-color: rgba(94, 51, 128, 1);
  --desert-storm-color: rgba(243, 243, 241, 1);
  --ebony-clay-color: rgba(31, 36, 48, 1);
  --white:rgba(255, 255, 255, 1);

}

body {
  background-color: #f3f3f1;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
}

h1,
h2 {
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
}

.bg-light-green {
  background-color: var(--pear-color);
}

.bg-dark-green {
  background-color: var(--seaweed-color);
}

.bg-light-purple {
  background-color: var(--melanie-color);
}

.bg-dark-red {
  background-color: var(--venetian-red-color);
}

.bg-dark-purple {
  background-color: var(--honey-flower-color);
}

.bg-light-gray {
  background-color: var(--desert-storm-color);
}

.text-pear {
  color: var(--pear-color);
}

.text-honey-flower {
  color: var(--honey-flower-color);
}
.text-melanie{
  color: var(--melanie-color);
}
.text-black{
  color: var(--ebony-clay-color);
}

.heading-1 {
  font-size: 2rem;
  padding-top: 6rem;
}

.subheading {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.btn {
  font-size: 1rem;
  line-height: 1.352em;
  letter-spacing: 0.01em;
  padding: 1.2em 1.55em;
}

.btn-rounded {
  border-radius: 1000px;
}

.btn-light-purple{
  background-color: var(--melanie-color);
  border-color: var(--melanie-color);
  color: var(--ebony-clay-color);
}

.btn-light-purple:hover {
  --color-opacity: 0.5;
  background-color: var(--melanie-hover-color);
  border-color: var(--melanie-hover-color);
}

.btn-dark-purple {
  background-color: var(--honey-flower-color);
  color: var(--white);
  border-color: var(--honey-flower-color);
}
.btn-dark-purple:hover{
  background-color: var(--honey-hover-color);
  color:  var(--white);
  border-color: var(--honey-hover-color);
}
.btn-light-green {
  background-color: var(--pear-color);
  border-color: var(--pear-color);
}
.btn-light-green:hover{
  background-color:var(--pear-hover-color);
  border-color: var(--pear-hover-color);
}


.section-space,
.header-space {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}
/* @media screen and (min-width:576px) {
  .section-space,
.header-space {
  padding: 4rem;
}
} */

.flip-card {
  width: 100%;
}

.flip-card {
  overflow: visible;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-front,
.flip-back {
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.4, 0.2, 0.2, 1) 0s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 6.5em;
  height: 100%;
}

.flip-front {
  background-color: var(--white);
  transform: rotateY(0deg) translateZ(0px);
}

.flip-card:hover .flip-front {
  transform: rotateY(-180deg);
}

.flip-back {
  position: absolute;
  transform: rotateY(180deg);
  padding: 2.5em;
}

.flip-card:hover .flip-back {
  transform: rotateY(0deg) translateZ(1px);
}

@media (min-width: 576px) {

  .section-space,
  .header-space {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .heading-1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .subheading {
    font-size: 1.25rem;
  }
}

@media (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1566px;
  }
}