@font-face {
  font-display: swap;
  font-family: "Link Sans";
  font-weight: 200 400 800 900;
  src: url(https://website.linktr.ee/static/LinkSans-LinkSansVF-5ba82435cfe1454f76404182afdbf4fc.woff2) format("woff2-variations")
}

body {
  background-color: #f3f3f1;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
}

.bg-seaweed {
  background-color: #254f1a;
}

.bg-melanie {
  background-color: #e9c0e9;
}

.bg-venetian-red {
  background-color: #780016;
}

.bg-honey-flower {
  background-color: #502274;
}

.bg-desert-storm {
  background-color: #f3f3f1;
}

.heading-1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-weight: 800;
}

.btn {
  font-size: 1rem;
  line-height: 1.352em;
  letter-spacing: 0.01em;
  padding: 1.2em 1.55em;
}

.btn-rounded {
  border-radius: 1000px;
}

.section-space, .header-space{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

@media(min-width: 576px){
  .section-space, .header-space{
    padding: 3rem;
  }
}

@media(min-width: 768px){
  .heading-1 {
    font-size: 4rem;
  }
}

@media(min-width: 992px){
  .heading-1 {
    font-size: 5.5rem;
  }
}

@media(min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1566px;
  }
}


/* -------------------------- Navbar -------------------------- */
.main-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  border-radius: 44px;
  z-index: 999;
  padding-top: 48px;
}

.main-navbar.navbar>.container {
  background-color: #fff;
  max-width: 1568px;
  padding: 12px;
  border-radius: 10000px;
}

.main-navbar .navbar-brand {
  margin-inline-start: 2rem;
  margin-inline-end: 3.5rem;
}

.main-navbar .nav-item .nav-link {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
  padding: 11px 16px;
  border-radius: 8px;
}

.main-navbar .nav-item .nav-link:hover {
  background-color: rgb(239, 240, 236);
}

.dropdown-menu .dropdown-item {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
}

/* -------------------------- header -------------------------- */

.green-heading {
  color: #d2e320;
}

.green-para {
  font-size: 20px;
  color: #d2e320;
  padding: 1rem 0;
  line-height: 31px;
  font-weight: 100;
}

.btn-purple {
  background-color: rgb(233, 192, 233);
  color: #1E2330;
  padding: 12px 21px;
  border-radius: 23px;

}

.dark-purple {
  background-color: #502274;
  color: #fff;
  padding: 15px 24px;
  border-radius: 30px;
}

.heading-2 {
  font-size: 56px;
  color: #502274;
  padding: 3rem 0;
}

.purple-para {
  color: #502274;
  font-size: 20px;
}

.heading-3 {
  color: #e9c0e9;
  font-size: 56px;
}

.heading-5 {
  color: #d2e823;
  font-size: 48px;
  padding: 4rem;
  max-width: 1050px;
  text-align: center;
  margin: 0 auto;
}

.light-purple-para {
  color: #e9c0e9;
  font-size: 20px;
}

.heading-4 {
  color: #1e2330;
  font-size: 56px;
}

.navy-para {
  color: #1e2330;
  font-size: 20px;
}

.accord-item {
  background-color: #49000d;
  color: #e9c0e9;
  padding: 2rem 0.5rem;
  border-radius: 30px !important;
  border: none;
  font-size: 20px;
  margin-bottom: 1rem;
}

button.accordion-button.accord-btn {
  color: #e9c0e9;
  font-size: 24px;
  box-shadow: none;
  background: none;
}

.green-btn {
  background-color: #d2e823;
}

.footer {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 28px;
}

.footer ul li {
  list-style: none;
  padding: 6px 0px;
}

.footer ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
}

.footer ul {
  padding: 0;
}

.footer-botttom {
  padding: 7rem 2rem;
  border-radius: 43px;
}