
/* -------------------------- Navbar -------------------------- */
.main-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  border-radius: 44px;
  z-index: 999;
  padding-top: 48px;
}

.main-navbar.navbar>.container {
  background-color: #fff;
  max-width: 1568px;
  padding: 12px;
  border-radius: 10000px;
}

.main-navbar .navbar-brand {
  margin-inline-start: 2rem;
  margin-inline-end: 3.5rem;
}

.main-navbar .nav-item .nav-link {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
  padding: 11px 16px;
  border-radius: 8px;
}

.main-navbar .nav-item .nav-link:hover {
  background-color: rgb(239, 240, 236);
}

.dropdown-menu .dropdown-item {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
}

/* -------------------------- header -------------------------- */

.green-heading {
  color: #d2e320;
}

.green-para {
  color: #d2e320;
  padding: 1rem 0;
}

.yourname-input-group {
  position: relative;
  font-size: 1rem;
}

.yourname-input-group::before {
  content: "linktr.ee/";
  position: absolute;
  padding-left: 1em;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}

.yourname-input-group .form-control {
  font-size: inherit;
  padding-inline-start: 5.15em;
  padding-block: 1.138em;
}

.btn-purple {
  background-color: rgb(233, 192, 233);
  color: #1e2330;
}

.dark-purple {
  background-color: #502274;
  color: #fff;
  padding: 15px 24px;
  border-radius: 30px;
}

.heading-2 {
  font-size: 56px;
  color: #502274;
  padding: 3rem 0;
}

.purple-para {
  color: #502274;
  font-size: 20px;
}

.heading-3 {
  color: #e9c0e9;
  font-size: 56px;
}

.heading-5 {
  color: #d2e823;
  font-size: 48px;
  padding: 4rem;
  max-width: 1050px;
  text-align: center;
  margin: 0 auto;
}

.light-purple-para {
  color: #e9c0e9;
  font-size: 20px;
}

.heading-4 {
  color: #1e2330;
  font-size: 56px;
}

.navy-para {
  color: #1e2330;
  font-size: 20px;
}

.accord-item {
  background-color: #49000d;
  color: #e9c0e9;
  padding: 2rem 0.5rem;
  border-radius: 30px !important;
  border: none;
  font-size: 20px;
  margin-bottom: 1rem;
}

button.accordion-button.accord-btn {
  color: #e9c0e9;
  font-size: 24px;
  box-shadow: none;
  background: none;
}

.green-btn {
  background-color: #d2e823;
}

/* -------------------------- trusted bio -------------------------- */

.card-square>*,
.card-rectangular>*,
.card-oval>* {
  border-radius: 2rem;
}

.card-square {
  width: 500px;
  height: 400px;
}

.card-rectangular {
  width: 316px;
  height: 400px;
}

.card-oval {
  width: 316px;
  height: 400px;
}

@media (min-width: 768px) {
  .card-square>* {
    border-radius: 4rem;
  }

  .card-rectangular>* {
    border-radius: 1rem;
  }

  .card-oval>* {
    border-radius: 1000px;
  }
}

/*--------------------- engage-bio-----------------------------*/
.content-box,
.product-box,
.audience-box {
  border-radius: 32px;
  height: 500px;
}

/*--------------------- plans-bio-----------------------------*/
.card {
  border-radius: 32px;
}

.p-40 {
  padding: 40px 40px 0px;
}

.p-20 {
  padding: 20px;
}

.pb-120 {
  padding-bottom: 120px;
}

.min-space {
  min-height: 376px;
}

.card-box {
  justify-content: center;
}

.card-box .square {
  height: 130px;
  width: 130px;
  border-radius: 20px;
  margin: 0 5px;
}

.card-box .circle {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.widget {
  max-width: 320px;
  margin: 7px 0;
  height: 80px;
}

.card-text {
  padding: 0px 0 40px 0px;
}


/*-------------------- featured bio ----------------------------*/
.img-wrapper {
  background: #fff;
  max-width: 830px;
  min-height: 420px;
}

.content-wrapper {
  max-width: 994px;
}

/* -------------------------- Footer -------------------------- */

.footer {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 28px;
}

.footer ul li {
  list-style: none;
  padding: 6px 0px;
}

.footer ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
}

.footer ul {
  padding: 0;
}

.footer-botttom {
  padding: 7rem 2rem;
  border-radius: 43px;
}