body {
  background-color: #f3f3f1;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
}

.bg-seaweed {
  background-color: #254f1a;
}

.bg-melanie {
  background-color: #e9c0e9;
}

.bg-venetian-red {
  background-color: #780016;
}

.bg-honey-flower {
  background-color: #502274;
}


/* .bg-desert-storm {
  background-color: #f3f3f1;
} */

/*-----------nav----------*/
.nav-item .nav-link {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
}

.dropdown-menu .dropdown-item {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(103, 107, 95);
}


/* ----------------------------------------------- */

.main-navbar {
  width: 100%;
  position: sticky;
  top: 9%;
  left: 0px;
  right: 0px;
  background: #fff;
  border-radius: 44px;
  max-width: 1600px;
  margin: -3rem auto;
  padding: 22px 10px;
  z-index: 1;
}

.big-content {
  padding: 8rem 0rem 10rem;
  min-height: 100vh;
}

.green-heading {
  font-size: 88px;
  color: #d2e320;
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-weight: 800
}

.green-para {
  font-size: 20px;
  color: #d2e320;
  padding: 1rem 0;
  line-height: 31px;
  font-weight: 100;
}

.btn-purple {
  background-color: rgb(233, 192, 233);
  color: #1E2330;
  padding: 12px 21px;
  border-radius: 23px;

}

.dark-purple {
  background-color: #502274;
  color: #fff;
  padding: 15px 24px;
  border-radius: 30px;
}

.heading-2 {
  font-size: 56px;
  color: #502274;
  padding: 3rem 0;
}

.purple-para {
  color: #502274;
  font-size: 20px;
}

.heading-3 {
  color: #e9c0e9;
  font-size: 56px;
}

.heading-5 {
  color: #d2e823;
  font-size: 48px;
  padding: 4rem;
  max-width: 1050px;
  text-align: center;
  margin: 0 auto;
}

.light-purple-para {
  color: #e9c0e9;
  font-size: 20px;
}

.heading-4 {
  color: #1e2330;
  font-size: 56px;
}

.navy-para {
  color: #1e2330;
  font-size: 20px;
}

.accord-item {
  background-color: #49000d;
  color: #e9c0e9;
  padding: 2rem 0.5rem;
  border-radius: 30px !important;
  border: none;
  font-size: 20px;
  margin-bottom: 1rem;
}

button.accordion-button.accord-btn {
  color: #e9c0e9;
  font-size: 24px;
  box-shadow: none;
  background: none;
}

.green-btn {
  background-color: #d2e823;
}

.footer {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 28px;
}

.footer ul li {
  list-style: none;
  padding: 6px 0px;
}

.footer ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
}

.footer ul {
  padding: 0;
}

.footer-botttom {
  padding: 7rem 2rem;
  border-radius: 43px;
}